:root{
  --darkest-black:#000;
  --darker-black:#2d3032;
  --lighter-black:#555759;
  --lighter-gray:#d2d3d3;
  --primary-purple:#9615bd;
  --darker-gray:#7d7580;
  --text-white:#fff;
}
#breadcrumbs {
  color: var(--text-white);
}

#breadcrumbs h2{
  font-family: Origin-tech;
}

.event-details {
  padding-top: 40px;
}

.event-details .event-details-slider img {
  width: 100%;
}

.event-details .event-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.event-details .event-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--darkest-black) ;
  opacity: 1;
  border: 1px solid var(--primary-purple) ;
}

.event-details .event-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-purple) ;
}

.event-details .event-info {
  padding: 30px;
  background:var(--darker-black) ;
}

.event-details .event-info h3 {
  font-family: Origin-tech;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: var(--text-white);
  border-bottom: 1px solid var(--lighter-gray) ;
}

.event-details .event-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  color: var(--text-white);
}

.event-details .event-info ul li + li {
  margin-top: 10px;
}
.event-info strong{
  color: var(--primary-purple);
}
.event-details .event-description {
  padding-top: 30px;
}

.event-details .event-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.event-details .event-description p {
  padding: 0;
}

.general-guidelines-ul{
  color: var(--text-white);
  font-size: 1.2rem;
  margin-right: 10%;
  margin-left: 10%;
}

.guidelines-heading{
  color: var(--primary-purple);
}


